doctype 5
html
  head
    title= title
    link(rel='shortcut icon' href='/images/favicon.ico')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.flot.js")
    script(src="/javascripts/jquery.tablesorter.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
    script.
      var data = !{JSON.stringify(analyzationResult)};
  body
    h1= title
    h2= subtitle
    div#container
      div#chartContainer
        div#chartcategories
          h2 Categories chart
        div#chartlocations
          h2 Locations chart
      div#dataContainer
        table
          tr
            th Category
            th freq/day
          - for(var category in analyzationResult.categories) {
            - var calc = (analyzationResult.categories[category] / analyzationResult.days).toFixed(3)
              tr
                td #{category}
                td= calc
          -}
          tr
            th Location
            th sum
          - for(var location in analyzationResult.locations) {
              tr
                td #{location} 
                td #{analyzationResult.locations[location]}
          -}
  if reset
    div.reset
      p Warning reset makes the server to download data again!
      button Reset