doctype 5
html
  head
    title= title
    link(rel='shortcut icon' href='/images/favicon.ico')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.flot.js")
    script(src="/javascripts/jquery.tablesorter.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
    script.
      var data = !{JSON.stringify(result)};
  body
    h1= title
    if result.done
      h2= subtitle
      div#container
        div#chartContainer
          div#chartcategories
            h2 Categories chart
          div#chartlocations
            h2 Locations chart
        div#dataContainer
          table
            tr
              th Category
              th freq/day
            - for(var category in result.categories) {
              - var calc = (result.categories[category] / result.days).toFixed(3)
                tr
                  td #{category}
                  td= calc
            -}
            tr
              th Location
              th sum
            - for(var location in result.locations) {
                tr
                  td #{location} 
                  td #{result.locations[location]}
            -}
    if reset
      div.reset
        p Warning: reset makes the server to download data again!
        form(action='/reset', method='get')
          input(type='submit', value='Reset')
        