doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.flot.js")
    script.
      var data = !{JSON.stringify(analyzation)};
  body
    h1= title
    div#contained
      div.data.categories
        table
          - for(var category in analyzation.categories) {
              tr
                td #{category}: #{analyzation.categories[category]}
          -}
      div.data.locations
        table
          - for(var location in analyzation.locations) {
              tr
                td #{location}: #{analyzation.locations[location]}
          -}
      div#chartcategories
      div#chartlocations