doctype 5
html
  head
    title= title
    link(rel='shortcut icon' href='/images/favicon.ico')
    script(src="/javascripts/jquery-1.10.2.min.js")
    script(src="/javascripts/jquery.flot.min.js")
    script(src="/javascripts/jquery.tablesorter.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
    script.
      var data = !{JSON.stringify(result)};
  body
    h1= title
    if result.done
      h2= subtitle
      div#container
        div#chartContainer
          h2 Incident categories
          div#chartcategories
          h2 Incident location
          div#chartlocations
          h2 Incidents timeline
          div#chartTimeline          
        div#dataContainer
          table#categories
           thead
            tr
              th Category
              th freq/day
           tbody
            - for(var category in result.categories) {
              - var cate = (result.categories[category] / result.days).toFixed(3)
                tr
                  td #{category}
                  td= cate
            -}
          table#locations
           thead
            tr
              th Location
              th freq/day
           tbody
            - for(var location in result.locations) {
            - var lock = (result.locations[location] / result.days).toFixed(3)
                tr
                  td #{location} 
                  td= lock
            -}
    if reset
      div.reset
        p Warning: reset makes the server download data again!
        form(action='/reset', method='get')
          input(type='submit', value='Reset')
    div#tooltip

        